<!-- Social -->

<div class="modal fade" id="modal-add-social" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Redes Sociales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" placeholder="Instagram, Facebook, etc..." class="form-control" formControlName="red" (ngModel)="Red" [ngClass]="{'is-invalid': Red?.errors && Red?.touched, 'is-valid': !Red?.errors && Red?.touched}">
          </div>
          <div *ngIf="Red?.errors  && Red?.touched">
            <p *ngIf="Red?.hasError('required')" class="text-danger ps-1">
              El nombre es requerido.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Link</label>
            <input type="url" placeholder="Link de la Red Social..." class="form-control" formControlName="link" (ngModel)="Link" [ngClass]="{'is-invalid': Link?.errors && Link?.touched, 'is-valid': !Link?.errors && Link?.touched}">
          </div>
          <div *ngIf="Link?.errors  && Link?.touched">
            <p *ngIf="Link?.hasError('required')" class="text-danger ps-1">
              El link es requerido.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Ícono de fontawesome</label>
            <input type="text" placeholder="Ej: fa-brands fa-instagram" class="form-control" formControlName="icono" (ngModel)="Icono" [ngClass]="{'is-invalid': Icono?.errors && Icono?.touched, 'is-valid': !Icono?.errors && Icono?.touched}">
          </div>
          <div *ngIf="Icono?.errors  && Icono?.touched">
            <p *ngIf="Icono?.hasError('required')" class="text-danger ps-1">
              El Ícono es requerido.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>