<!-- Education add -->

<div class="modal fade" id="modal-add-education" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar estudio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="" class="form-label">Logo de estudio</label>
            <input type="url" placeholder="Ingrese Url del estudio..." class="form-control" id="" formControlName="logo" (ngModel)="Logo" [ngClass]="{'is-invalid': Logo?.errors && Logo?.touched, 'is-valid': !Logo?.errors && Logo?.touched}">
          </div>
          <div *ngIf="Logo?.errors  && Logo?.touched">
            <p *ngIf="Logo?.hasError('required')" class="text-danger ps-1">
              La imagen es requerida.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Título</label>
            <input type="text" placeholder="Ingrese título..." class="form-control" formControlName="estudio" (ngModel)="Estudio" [ngClass]="{'is-invalid': Estudio?.errors && Estudio?.touched, 'is-valid': !Estudio?.errors && Estudio?.touched}">
          </div>
          <div *ngIf="Estudio?.errors  && Estudio?.touched">
            <p *ngIf="Estudio?.hasError('required')" class="text-danger ps-1">
              El titulo es requerido.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Inicio</label>
            <input type="date" class="form-control" id="" formControlName="inicio" (ngModel)="Inicio" [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched, 'is-valid': !Inicio?.errors && Inicio?.touched}">
          </div>
          <div *ngIf="Inicio?.errors  && Inicio?.touched">
            <p *ngIf="Inicio?.hasError('required')" class="text-danger ps-1">
              La fecha es requerida.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Fin</label>
            <input type="date" class="form-control" formControlName="fin" (ngModel)="Fin" [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched, 'is-valid': !Fin?.errors && Fin?.touched}">
          </div>
          <div *ngIf="Fin?.errors  && Fin?.touched">
            <p *ngIf="Fin?.hasError('required')" class="text-danger ps-1">
              La fecha es requerida.
            </p>
          </div>
          <div class="mb-3">
            <h6>Descripción</h6>
            <textarea placeholder="Descripción del estudio..." cols="50" rows="2" formControlName="description" (ngModel)="Description" [ngClass]="{'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}"></textarea>
          </div>
          <div *ngIf="Description?.errors  && Description?.touched">
            <p *ngIf="Description?.hasError('required')" class="text-danger ps-1">
              La descripción es requerida.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>