<!-- Skill edit -->
<app-navbar></app-navbar>

<div class="container text-white">
  <h1>Editar habilidad</h1>
  <form [formGroup]="form" (ngSubmit)="onSend($event)">
    <div class="mb-3">
      <label>ID: {{skil.id}}</label>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre de la Habilidad</label>
      <input type="text" class="form-control" value="{{skil.skill}}" formControlName="skill" [(ngModel)]="skil.skill" [ngClass]="{'is-invalid': Skill?.errors && Skill?.touched, 'is-valid': !Skill?.errors && Skill?.touched}">
    </div>
    <div *ngIf="Skill?.errors  && Skill?.touched">
      <p *ngIf="Skill?.hasError('required')" class="text-danger ps-1">
        La Habilidad es requerida.
      </p>
    </div>
    <div class="mb-3">
      <label class="form-label">Porcentaje</label>
      <input type="number" min="0" max="100" class="form-control" value="{{skil.percentage}}" formControlName="percentage" [(ngModel)]="skil.percentage" [ngClass]="{'is-invalid': Percentage?.errors && Percentage?.touched, 'is-valid': !Percentage?.errors && Percentage?.touched}">
    </div>
    <div *ngIf="Percentage?.errors && Percentage?.touched">
      <p *ngIf="Percentage?.hasError('required')" class="text-danger">
        El porcentaje es requerido.
      </p>
      <p *ngIf="Percentage?.hasError('min')" class="text-danger">
        El porcentaje mínimo es 0.
      </p>
      <p *ngIf="Percentage?.hasError('max')" class="text-danger">
        El porcentaje máximo es 100.
      </p>
    </div>
    <button type="button" class="btn btn-secondary me-3" (click)="clean()">Limpiar</button>
    <button type="submit" class="btn btn-dark">Editar</button>
  </form>
</div>