<!-- Projects -->

<app-navbar></app-navbar>
<section class="text-white m-project">
  <div class="seccion container-xxl">
    <div class="row mb-2">
      <h1 class="text-center py-5">Proyectos</h1>
      <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#modal-add-project" style="color: #fff;"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="row mt-2">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4">
        <a target="_blank"><img src="assets/img/arg_prog_logo.png" class="w-50"></a>
        <a href="#"><h5>Yo Programo</h5></a>
        <h6>Fin: 15-01-2023</h6>
      </div>
      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 col-sm-7 col-6 mt-2">
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Quis, nesciunt. Voluptate beatae nostrum dolorem facilis explicabo.
          Facere consequuntur, ullam, voluptas assumenda debitis velit iure,
          temporibus repellendus porro sunt sed odio.
        </h5>
      </div>
      <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2 p-0 d-flex">
        <div class="p-0">
          <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#modal-edit-project" style="color: #fff;"><i class="fa-solid fa-pencil"></i></button>
        </div>
        <div class="p-0">
          <button type="submit" class="btn"><i class="fa-solid fa-trash-can" style="color: #fff;"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-modal-add-project></app-modal-add-project>
<app-modal-edit-project></app-modal-edit-project>