body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh
}

.error {
    color: red
}

.border-danger {
    border-color: red;
}

.formulario {
    background: #000000bb;
    padding: 1.25rem;
    border-radius: .625rem;
    box-shadow: 0 0 30px #000;
    color: #fff;
}

.form-control {
    color: #000;
}

.ingresar {
    background: #223047;
    padding: .625rem;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 1.875rem #000;
    transition: 0.1s;
}

.ingresar:hover {
    color: #fff;
}

.olvide {
    color: #fff;
    text-decoration: none;
}

.olvide:hover {
    color: #fff;
    text-decoration: none;
}

.register {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.375rem;
    border-radius: 0.313rem;
    background: #223047;
}

.register:hover {
    color: #fff;
    text-decoration: none;
}