<!-- Person edit -->
<app-navbar></app-navbar>

<div class="container text-white">
  <h1>Editar Persona</h1>
  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
      <div class="mb-3">
        <label for="" class="form-label">Nombre(s)</label>
        <input type="text" class="form-control" formControlName="nombre" value="{{perso.nombre}}" [(ngModel)]="perso.nombre" [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid': !Nombre?.errors && Nombre?.touched}">
      </div>
      <div *ngIf="Nombre?.errors  && Nombre?.touched">
        <p *ngIf="Nombre?.hasError('required')" class="text-danger ps-1">
          El nombre es requerido.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">Apellido(s)</label>
        <input type="text" class="form-control" formControlName="apellido" value="{{perso.apellido}}" [(ngModel)]="perso.apellido" [ngClass]="{'is-invalid': Apellido?.errors && Apellido?.touched, 'is-valid': !Apellido?.errors && Apellido?.touched}">
      </div>
      <div *ngIf="Apellido?.errors  && Apellido?.touched">
        <p *ngIf="Apellido?.hasError('required')" class="text-danger ps-1">
          El apellido es requerido.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">Profesión</label>
        <input type="text" class="form-control" formControlName="titulo" value="{{perso.titulo}}" [(ngModel)]="perso.titulo" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}">
      </div>
      <div *ngIf="Titulo?.errors  && Titulo?.touched">
        <p *ngIf="Titulo?.hasError('required')" class="text-danger ps-1">
          La Profesión es requerida.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" value="{{perso.username}}" [(ngModel)]="perso.username" [ngClass]="{'is-invalid': Username?.errors && Username?.touched, 'is-valid': !Username?.errors && Username?.touched}">
      </div>
      <div *ngIf="Username?.errors  && Username?.touched">
        <p *ngIf="Username?.hasError('required')" class="text-danger ps-1">
          El Nombre de Usuario es requerido.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">Foto de perfil</label>
        <input type="url" class="form-control" formControlName="img" value="{{perso.img}}" [(ngModel)]="perso.img" [ngClass]="{'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}">
      </div>
      <div *ngIf="Img?.errors  && Img?.touched">
        <p *ngIf="Img?.hasError('required')" class="text-danger ps-1">
          La foto de perfil es requerida.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">Banner</label>
        <input type="url" class="form-control" formControlName="banner" value="{{perso.banner}}" [(ngModel)]="perso.banner" [ngClass]="{'is-invalid': Banner?.errors && Banner?.touched, 'is-valid': !Banner?.errors && Banner?.touched}">
      </div>
      <div *ngIf="Banner?.errors  && Banner?.touched">
        <p *ngIf="Banner?.hasError('required')" class="text-danger ps-1">
          El banner es requerido.
        </p>
      </div>
      <div class="mb-3">
        <label class="form-label">CV</label>
        <input type="url" class="form-control" formControlName="cv" value="{{perso.cv}}" [(ngModel)]="perso.cv" [ngClass]="{'is-invalid': Cv?.errors && Cv?.touched, 'is-valid': !Cv?.errors && Cv?.touched}">
      </div>
      <div *ngIf="Cv?.errors  && Cv?.touched">
        <p *ngIf="Cv?.hasError('required')" class="text-danger ps-1">
          El cv es requerido.
        </p>
      </div>
      <div class="mb-3">
        <h6>Descripción</h6>
        <textarea cols="30" rows="3" formControlName="aboutme" value="{{perso.aboutme}}" [(ngModel)]="perso.aboutme" [ngClass]="{'is-invalid': Aboutme?.errors && Aboutme?.touched, 'is-valid': !Aboutme?.errors && Aboutme?.touched}"></textarea>
      </div>
      <div *ngIf="Aboutme?.errors  && Aboutme?.touched">
        <p *ngIf="Aboutme?.hasError('required')" class="text-danger ps-1">
          La descripción es requerida.
        </p>
      </div>
      <button type="button" class="btn btn-secondary me-3" (click)="limpiar()">Limpiar</button>
      <button type="submit" class="btn btn-dark">Editar</button>
  </form>
</div>