<!-- Experience edit -->
<app-navbar></app-navbar>

<div class="container text-white">
  <h1>Editar Experiencia</h1>
  <form [formGroup]="form" (ngSubmit)="onSend($event)">
    <div class="mb-3">
      <label>ID: {{expe.id}}</label>
    </div>
    <div class="mb-3">
      <label class="form-label">Logo de experiencia</label>
      <input type="url" class="form-control" formControlName="logo" value="{{expe.logo}}" [(ngModel)]="expe.logo" [ngClass]="{'is-invalid': Logo?.errors && Logo?.touched, 'is-valid': !Logo?.errors && Logo?.touched}">
    </div>
    <div *ngIf="Logo?.errors  && Logo?.touched">
      <p *ngIf="Logo?.hasError('required')" class="text-danger ps-1">
        La imagen es requerida.
      </p>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Título</label>
      <input type="text" class="form-control" formControlName="experiencia" value="{{expe.experiencia}}" [(ngModel)]="expe.experiencia" [ngClass]="{'is-invalid': Experiencia?.errors && Experiencia?.touched, 'is-valid': !Experiencia?.errors && Experiencia?.touched}">
    </div>
    <div *ngIf="Experiencia?.errors  && Experiencia?.touched">
      <p *ngIf="Experiencia?.hasError('required')" class="text-danger ps-1">
        El titulo es requerido.
      </p>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Inicio</label>
      <input type="date" class="form-control" formControlName="inicio" value="{{expe.inicio}}" [(ngModel)]="expe.inicio" [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched, 'is-valid': !Inicio?.errors && Inicio?.touched}">
    </div>
    <div *ngIf="Inicio?.errors  && Inicio?.touched">
      <p *ngIf="Inicio?.hasError('required')" class="text-danger ps-1">
        La fecha es requerida.
      </p>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Fin</label>
      <input type="date" class="form-control" formControlName="fin" value="{{expe.fin}}" [(ngModel)]="expe.fin" [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched, 'is-valid': !Fin?.errors && Fin?.touched}">
    </div>
    <div *ngIf="Fin?.errors  && Fin?.touched">
      <p *ngIf="Fin?.hasError('required')" class="text-danger ps-1">
        La fecha es requerida.
      </p>
    </div>
    <div class="mb-3">
      <h6>Descripción</h6>
      <textarea cols="30" rows="3" formControlName="description" value="{{expe.description}}" [(ngModel)]="expe.description" [ngClass]="{'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}"></textarea>
    </div>
    <div *ngIf="Description?.errors  && Description?.touched">
      <p *ngIf="Description?.hasError('required')" class="text-danger ps-1">
        La descripción es requerida.
      </p>
    </div>
    <button type="button" class="btn btn-secondary me-3" (click)="clean()">Limpiar</button>
    <button type="submit" class="btn btn-dark">Editar</button>
  </form>
</div>