<!-- Project add -->

<div class="modal fade" id="modal-add-project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
          <div class="mb-3">
            <label for="" class="form-label">Imagen de proyecto</label>
            <input type="file" class="form-control" id="" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Título</label>
            <input type="text" placeholder="Título del proyecto..." class="form-control" id="" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Fin</label>
            <input type="date" class="form-control" id="" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Link</label>
            <input type="text" placeholder="Link del proyecto..." class="form-control" id="" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <h6>Descripción</h6>
            <textarea name="" id="" placeholder="Descripción del trabajo..." cols="50" rows="2"></textarea>
          </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Limpiar</button>
            <button type="button" class="btn btn-dark">Agregar</button>
        </div>
      </div>
    </div>
</div>