<!-- Skill add -->

<div class="modal fade" id="modal-add-skill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSend($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="" class="form-label">Nombre de la Habilidad</label>
            <input type="text" placeholder="Nombre de la habilidad..." class="form-control" formControlName="skill" (ngModel)="Skill" [ngClass]="{'is-invalid': Percentage?.errors && Percentage?.touched, 'is-valid': !Percentage?.errors && Percentage?.touched}">
          </div>
          <div *ngIf="Skill?.errors  && Skill?.touched">
            <p *ngIf="Skill?.hasError('required')" class="text-danger ps-1">
              La Habilidad es requerida.
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Porcentaje</label>
            <input type="number" min="0" max="100" placeholder="30%, 60%, 100%..." class="form-control" formControlName="percentage" (ngModel)="Percentage" [ngClass]="{'is-invalid': Percentage?.errors && Percentage?.touched, 'is-valid': !Percentage?.errors && Percentage?.touched}">
          </div>
          <div *ngIf="Percentage?.errors && Percentage?.touched">
            <p *ngIf="Percentage?.hasError('required')" class="text-danger">
              El Porcentaje es requerido.
            </p>
            <p *ngIf="Percentage?.hasError('min')" class="text-danger">
              El Porcentaje mínimo es 0.
            </p>
            <p *ngIf="Percentage?.hasError('max')" class="text-danger">
              El Porcentaje máximo es 100.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clean()">Limpiar</button>
          <button type="submit" class="btn btn-dark">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>